/* loader from: https://css-loaders.com/dots/ */
.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
    margin: 0 auto;
    max-height: 15px;
  }
  @keyframes l5 {
      0%  {box-shadow: 20px 0 var(--dark-pink), -20px 0 var(--pink);background: var(--dark-pink) }
      33% {box-shadow: 20px 0 var(--dark-pink), -20px 0 var(--pink);background: var(--pink)}
      66% {box-shadow: 20px 0 var(--pink),-20px 0 var(--dark-pink); background: var(--pink)}
      100%{box-shadow: 20px 0 var(--pink),-20px 0 var(--dark-pink); background: var(--dark-pink) }
  }


  /* Carousel */

.container-main{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.carousel{
    overflow: hidden;
    display: flex;
    border-radius: 1rem;
    margin-top: 1rem;
}

.carousel-inner{
    display: flex;
    transition: transform 1s ease-in-out;
    width: 1200px;
}

.carousel img{
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.carousel button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}


/* form */

input.invalid {
    border-color: #900;
    background-color: #fdd;
  }

  input:focus:invalid {
    outline: none;
  }

  .error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
  }

  .error.active {
    padding: 0.3em;
    
  }

