.readmore{
    text-align: center;
    padding: 20px;
    
    border-radius: 10px;
    

}



.readmore a{
    padding: 20px 50px;
    color: var(--dark-text);
    font-weight: var(--w600);
    border-radius: 10px;
    background-color: var(--button);
}



/*Large Blog Card*/

.blogcard-large{
    max-width: 1200px;
    background-color: var(--pink);
    border-radius: 10px;
    margin: 40px 0;
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.blogcard-large-text{
    color: var(--dark-text);
    font-weight: var(--w500);
}

.large-post-title, .small-post-title{
    padding: 0 20px 20px 20px;
    text-align: center;
}

.large-post-title p, .small-post-title p{
    padding-top: 10px;
}

.date{
    text-align: end;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 600;
    color: var(--dark-text);
    
}



.blogcard-large img{
    width: 100%;
    max-width: 1200px;
    max-height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
}

.large-post-title h1{
    font-size: 40px;
}

/*Small Blog Card*/

.small-card{
    justify-content: center;
}

.featured{
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
}

.blogcard-small{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background-color: var(--blue);
    border-radius: 30px;
    margin: 40px 0;
    height: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.blogcard-small img{
    width: 100%;
    max-width: 350px;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px 30px 0 0;
}

.blogcard-small-text{
    color: var(--dark-text);
    font-weight: var(--w500);
}


.blogcard-small-text h2{
    font-size: 32px;
    padding-top: 15px;
}

.readmore a{

}


@media(max-width : 1160px){
    .featured{
        flex-direction: column;
    }

    .blogcard-small{
        display: flex;
        max-width: 350px;
        background-color: var(--blue);
        border-radius: 30px;
        margin: 40px 0;
        height: 700px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
}

/* Blog Card */



.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    width: 100%;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 700px;
    width: 100%;
    background-color: var(--blue);
    border-radius: 30px;
    min-height: 400px;

}

.card-container img{
    width: 100%;
    max-width: 700px;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px 30px 0 0;

}

.text-elements{
    display: flex;
    flex-direction: column;
    color: var(--dark-text);
    font-weight: var(--w500);
    padding: 10px 30px;
    min-height: 100px;
    align-items: center;
    gap: 15px;
}

.text-elements h2{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.read-more-button{
    color: var(--dark-text);
    font-size: 32px;
    font-weight: 600;
    font-family: var(--sacramento);
}

/* dividers */

.divider{
    align-items: center;
    justify-content: center;
    margin: 70px 0;
}

.divider img{
    width: 80%;
}

/* loader from: https://css-loaders.com/dots/ */
.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
    margin: 0 auto;
    max-height: 15px;
  }
  @keyframes l5 {
      0%  {box-shadow: 20px 0 var(--dark-pink), -20px 0 var(--pink);background: var(--dark-pink) }
      33% {box-shadow: 20px 0 var(--dark-pink), -20px 0 var(--pink);background: var(--pink)}
      66% {box-shadow: 20px 0 var(--pink),-20px 0 var(--dark-pink); background: var(--pink)}
      100%{box-shadow: 20px 0 var(--pink),-20px 0 var(--dark-pink); background: var(--dark-pink) }
  }


  

.hamburger{
    display: none;
}



  @media (max-width: 1000px){

    .hamburger{
        display: block;
        background-color: transparent;
        border: none;
        font-size: 30px;
        padding: 20px;
        
    }

    header{
        height: 70px;

    }

    .hidden-nav{
        display: none;
    }

    nav img{
        display: none;
    }

    nav{
        display: none;
        position: absolute;
        right: 0;
        background: var(--pink);
        padding: 30px;
        z-index: 999;
        height: 80px;
    }
    
    .navbar{
        height: 100px;
        top: 0;
    }
  }

