*, * ::before, * ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    line-height: 1.5;
    letter-spacing: 0.5px;
}

p{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Sacramento', cursive;
}

.sacramento {
    font-family: 'Sacramento', cursive;
}

