/*Font*/

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.sacramento {
    font-family: 'Sacramento', cursive;
    text-transform: none;
}

/*socials*/

i{
    font-size: 2.3rem;
}

.fa-facebook{
    color: var(--blue);
}

.fa-instagram{
    color: var(--darkred);
}

.fa-snapchat{
    color: var(--yellow);
}

.fa-pinterest{
    color: var(--red);
}

.medium-fontsize{
    font-size: 24px;
}

.copy p{
    padding-bottom: 20px;
    text-transform: uppercase;
}

