@import url(/css/buttons.css);
@import url(/css/forms.css);
@import url(/css/global.css);
@import url(/css/resets.css);
@import url(/css/styling.css);
@import url(/css/typography.css);
@import url(/css/mediaqueries.css);
@import url(/css/header.css);
@import url(/css/footer.css);



:root{
    --red: #A14E2F;
    --darkred: #5F3023;
    --yellow: #D4954B;
    --blue: #5F7672;
    --textdark: #000;
    --textlight: #fff;
    --textgrey: #545454;
}

