@import url(css/_footer.css);
@import url(css/_global.css);
@import url(css/_header.css);
@import url(css/_pages.css);
@import url(css/_resets.css);
@import url(css/_typography.css);
@import url(css/_utility.css);
@import url(css/_media.css);



:root{

    /* Colours */

    --dark-text: #3d2813;
    --light-text: #FFF;

    --lighter-pink: #ffecec;
    --pink: #E7CBCB;
    --darker-pink: #dbaaaa;
    --dark-pink: #ECA2A2;
    --blue: #87a7c4;
    --dark-blue:rgb(77, 135, 190);
    --red: #8f403a;
    
    --button: #D9D9D9;
    --green: #aaca90;
    
    /* Fonts */

    --montserrat: 'Montserrat', sans-serif;
    --sacramento: 'Sacramento', cursive;

    --w400: 400;
    --w500: 500;
    --w600: 600;
    
}