

.container-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
}

.carousel{
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    margin-top: 1rem;
}

.carousel-inner{
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel img{
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.carousel button{
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
}

.carousel button[data-action="prev"]{
    left: 0;
}

.carousel button[data-action="next"]{
    right: 0;
}

